extends layout

block content
  div
    for j in jokes
      div
        p= j.text
        a(href=`/delete/${j.id}`) Delete 
        a(href=`/deletequery?id=${j.id}`) Delete
        p= j.date.toGMTString()
