extends layout

block content
  div
    for j in jokes
      div.joke
        p.text= j.text
        p.date= j.date.toGMTString()
        a(href=`/delete/${j.id}`) Delete
        | &nbsp;
        a(href=`/edit/${j.id}`) Edit  

  div
    a(href='/createJoke') Create a new joke
